/* Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Variables */
:root{
    --var-services_image_height: 400px;
}

/* Default Configs */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    appearance: none;
}

html, body{
    width: 100%;
}

body{
    background: linear-gradient(-135deg, rgb(18, 46, 61) 0%, rgb(29, 29, 29) 70%);
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

/*********************/
/* Global Center */
.center{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}
